---
layout: social
---

<div class="service-buttons">
	<div class="social-buttons">
	 <!-- Google plus https://developers.google.com/+/web/share/ -->
		<div class="google-plus-one-button service-button">
			<!-- Place this tag in your head or just before your close body tag. -->
			<script src="https://apis.google.com/js/platform.js" async defer></script>

			<!-- Place this tag where you want the share button to render. -->
			<div class="g-plus" data-action="share" data-height="24" data-href="https://staticsitegenerators.net/"></div>
		</div>
		<div class="reddit-submit-button service-button">
			<script>reddit_url="https://staticsitegenerators.net"</script>
			<script src="https://en.reddit.com/static/button/button1.js"></script>
		</div>
		<div class="hacker-news-submit-button service-button">
			<a href="https://news.ycombinator.com/submit" class="hn-button" data-url="https://staticsitegenerators.net" data-count="horizontal">Vote on Hacker News</a>
			<script>var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
		</div>
		<div class="facebook-like-button service-button">
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A//staticsitegenerators.net&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=266367676718271" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowtransparency="true"></iframe>
		</div>
		<div class="github-star-button service-button">
			<iframe src="//ghbtns.com/github-btn.html?user=bevry&amp;repo=staticsitegenerators&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
		</div>
	</div>
	<div class="service-badges"></div>
</div>
